:root {
  /*========== Colors ==========*/
  --Primary: #bb86fc;
  --PrimaryVariant: #3700b3;
  --Secondary: #03dac6;
  --Background: #121212;
  --Error: #cf6679;
  --on: #ffffff;
  --on-medium: rgba(255, 255, 255, 0.6);
  --hover-color: rgba(187, 134, 252, 0.12);
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --font1: "Roboto Mono", sans-serif;
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.3rem;
  --h4-font-size: 1.25rem;
  --h5-font-size: 1rem;
  --normal-font-size: 0.9rem;
  --small-font-size: 0.8rem;
  --smaller-font-size: 0.75rem;
}
/*==================== REUSABLE CSS CLASSES ====================*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
h1 {
  font-size: var(--h1-font-size);
  font-family: "Roboto Mono", sans-serif;
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-size: var(--h2-font-size);
  font-family: "Roboto Mono", sans-serif;
}

h3 {
  font-size: var(--h3-font-size);
  font-family: "Roboto Mono", sans-serif;
}

p {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--on-medium);
  line-height: 2;
}
body {
  background-color: var(--Background);
  color: var(--on);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
/*==================== LAYOUT ====================*/

header {
  top: 0;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 100;
  background-color: var(--Background);
}
/*==================== NAV ====================*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s linear;
  }
}
.nav__link {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;

  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}
.nav__link:hover {
  color: var(--Primary);
}
.nav__link:active {
  color: var(--Primary);
}
.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block-start: 2em;
  margin-block-end: 2em;
  margin-inline-end: 1em;
}
.nav__item {
  margin: 0 1rem;
}
.nav__logo {
  margin-left: 2rem;
  flex: display;
  color: var(--Primary);
  font-family: var(--font1);
}
.nav__link:after {
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.scroll-header {
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}
/* show menu */
.show-menu {
  bottom: 0;
}
/*==================== HOME ====================*/

button {
  border-radius: 5px;
  box-shadow: 0px 28.39534px 38.72092px 0px rgba(0, 0, 0, 0.2),
    0px 23.23255px 118.74416px 0px rgba(0, 0, 0, 0.12),
    0px 61.95348px 98.09301px 0px rgba(0, 0, 0, 0.14);
  border: 1px solid rgba(255, 255, 255, 0.12);
  margin-top: 2rem;
  margin-right: 20px;
  padding: 5px 15px;
  background: var(--Background);
  transition: 0.3s linear;
  color: var(--Primary);
  text-transform: uppercase;
  font-family: var(--font1);
  font-size: 1rem;
  font-weight: 400;
}

button:hover,
button:focus {
  cursor: pointer;
  background: var(--hover-color);
}
section {
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}
#noPadP,
#noPadH {
  margin: 0;
  padding: 0;
}
.Green {
  color: var(--Secondary);
}
